.boxhover {
    position: relative;
    width: auto;
 }

 .imageContainer {
    display: block;
    width: 100%;
    height: auto;
  }

.overlay {
    position: absolute;
    bottom: 0;
    background: black;
    background: rgba(0, 0, 0, 0.2);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 1rem;
    padding-bottom: 20px;
    text-align: center;
}
    
    
    .boxhover:hover .overlay {
    opacity: 1; }