@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa', url(../../fonts/Comfortaa-Regular.ttf) format('truetype'));
}

.avatar {
    width: 100%;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.headerAv {
    margin-left: auto;
    margin-right: auto;
}

.avatarText {
    font-family: 'Comfortaa';
    font-size: 0.8rem;
}