.summaryCard {
    border-radius: 30%;
}

.summaryCard:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.summaryImg {
    width: 18rem;
    max-height: 100%;
}

.social1 {
    display: flex;
    justify-content:space-between;
}

.reply:hover {
    color: green;
}

.comment:hover {
    color: orange;
}

.heart:hover{
    color: red;
}

.share:hover {
    color: blue;
}


.largePic {
    width: 100%;
    max-height: auto;
}