body {
  margin: 5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Adelfa';
  src: local('Adelfa'), url(./fonts/Adelfa-2ODaK.otf) format('opentype');
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa', url(./fonts/Comfortaa-Regular.ttf) format('truetype'));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* HEADER */
.headerWrapper {
  height: 200px;
}

.navBarMenu {
  position: absolute;
  z-index: 1;
}

.headerLogo {
  position: relative;
  margin: 0px;
  padding: 0px;
  top: -30px;
  max-height: 100%;
  max-width: 100%;
}
