body {
  margin: 5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@font-face {
  font-family: 'Adelfa';
  src: local('Adelfa'), url(./fonts/Adelfa-2ODaK.otf) format('opentype');
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa', url(./fonts/Comfortaa-Regular.ttf) format('truetype'));
}

@font-face {
  font-family: 'Essence-Sans';
  src: local('Essence-Sans', url(./fonts/Essence\ Sans.ttf) format('truetype'));
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
